# Mengabaikan semua folder node_modules di subfolder manapun
**/node_modules/


# Mengabaikan file .env di backend maupun frontend (jika ada)
**/.env

# Mengabaikan folder build hasil production frontend (Vite)
frontend/dist/